@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");

.services-container {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  height: auto;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 20px;
}

.services-title {
  margin: 0 auto;
}

.services-title h5 {
  font-size: 40px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: var(--font-color);
}

.services-title h5 span {
  margin-right: 6px;
}

.services-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 400px;
  background-color: rgba(144, 124, 226, 0.1);
  padding: 20px;
  margin: 0 10px;
  border-radius: 8px;
  /* border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  text-align: center;
}

.service-item img {
  width: auto;
  max-height: 150px;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}

.service-item h6 {
  font-size: 18px;
  margin-bottom: 2px;
}

.service-item p {
  font-size: 14px;
  padding: 10px;
  color: gray;
}

.button-services {
  color: var(--font-color);
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  width: 95px;
  padding: 10px;
  transition: all 0.4s;
  text-decoration: none;
  margin: 0 auto;
}

.button-services:hover {
  background-color: var(--font-color);
  color: #fff;
  border: 2px solid var(--font-color);
  transition: all 0.4s;
}

.palabra-seleccionada {
  text-transform: capitalize;
  color: #fff;
  font-size: 42px;
  background-color: var(--secondary-color);
  padding: 8px;
  border-radius: 30px;
  font-family: "Playball", regular;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 750px) {
  .services-list {
    flex-direction: column;
  }

  .service-item {
    margin: 10px 0;
    width: 90%;
  }
}
